html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

.app {
  &__title {
    text-align: center;
  }
}

.tabs {
  width: 800px;
  margin: 50px auto;

  text-decoration: none;

  &__list {
    display: flex;
  }

  &__tab {
    width: 100%;
    flex-grow: 1;
    padding: 15px 0;

    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    list-style-type: none;
    color: white;
  
    background-color: rgb(149, 149, 248);
    border: 1px solid black;
    border-right: none;
    border-radius: 0;

    transition: 300ms;
    transition-property: background-color, color;

    cursor: pointer;

    &:last-child {
      border-right: 1px solid black;
    }

    &:hover {
      color: white;
      background-color: rgb(124, 124, 250);
    }

    &--is-active {
      color: black;
      background-color: white;
    }
  }

  &__slider {
    height: 5px;
    margin-top: 6px;
    border-radius: 50px;

    background-color: rgb(149, 149, 248);
    transition: transform 500ms;
  }
}
